@media screen and (min-width:880px) and (max-width:3000px)  {
    .menu .button {
        display: none;
    }
    .photo-item:last-child {
        display: none;
    }
}
 @media screen and (min-width:550px) and (max-width:880px){
     .menu .button {
         display: none;
     }
     .info-album {
         flex-direction: column;
         justify-content: center;
         align-items: stretch;
     }
 }

@media screen and (min-width:100px) and (max-width:550px) {
    .menu .normal {
        display: none;
    }

    .menu .button img{
        height: 35px;
        width: 35px;
    }

    .info-album {
        display: block;
    }
    .album {
        display: none;
    }
}


body {
    background: #e0ffd5;
}

.menu {
    display: table;
    position: fixed;
    z-index: 50;
    width: 100%;
    justify-content: space-around;
    top: 0;
    background: #e0ffd5;
}

.menu a {
    display: table-cell;
    height: 50px;
    width: 90px;
    line-height: 50px;
    text-decoration:none;
    text-align: center;
    color: #00af12;
    padding-left: 5px;
    padding-right: 5px;
}

.menu a:hover {
    background: #a4ffb2;
}

.header {
    background: #a5ff9f;
    display: flex;
    margin-top:50px;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.main-photo {
    height: 200px;
    width: 200px;
    background: white;
}
.info-album{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 10px 10px 0;
    text-align: center;
    align-items: center;
}

.info , .album {
    width: 100%;
    background: #ffffff;
    height: 150px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.info {
    margin-right: 1%;
}

.photos {
    display: flex;
    height: 130px;
    justify-content: space-around;
    align-items: center;
}
.photo-item {
    display: block;
    width:100px;
    height: 100px;
    border: 1px solid black;
}

.wall {
    height: 300px;
    margin-bottom: 2%;
    background: white;
}